body {
    background-color: rgba(196, 185, 30, 0.671);
    font-family: Verdana, sans-serif;
}

h1 {
    color: rgb(255, 255, 255);
    background-color: black;
    text-align: center;
}

h2 {
    text-align: center;
    border-bottom: dashed 1px black;
}

li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bold;
    border-bottom: solid rgb(0, 0, 0) 1px;
}

.recipe-image {
    border: 3px black solid;
}

.back-home {
    color: blue;
    text-decoration: none;
    font-size: large;
}

