body {
    background-color: rgba(90, 86, 137, 0.671);
    font-family: Verdana, sans-serif;
}

.recipes {
    text-align: center;
}

.recipes li {
    display: inline-block;
    padding: 10px;
}

.recipe-image-page {
    width: 300px;
    margin: 0 auto;
}

.images {
    /* border: red solid 1px; */
    /* display: inline-block; */
    width: 507px;
    margin: 0 auto;
    padding: 0 30px;
}

.images img:hover {
    border: solid rgb(229, 255, 61) 3px;

}

.images a {
    text-decoration: none;
}

h1 {
    color: rgb(255, 255, 255);
    background-color: black;
    text-align: center;
}

h2 {
    text-align: center;
    border-bottom: dashed 1px black;
}

li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    border-bottom: solid rgb(255, 255, 255) 1px;
    
}

li a:hover {
    color: rgb(229, 255, 61);
    border-bottom: solid rgb(229, 255, 61) 1px;

}

.recipe-image {
    border: 3px black solid;
}

.back-home {
    color: blue;
    text-decoration: none;
    font-size: large;
}

ul {
    list-style: none;

}

